#!/bin/bash
{{ "" if (disable_st_ntpdate_loop | default(false)) else "/etc/se_ntpdate_start.sh" }}
{{ "/etc/se_snmpwork_start.sh" if (snmpwork_install | default(false)) else "" }}
# -- begin network_boottime_2 --

{{ (network_boottime_2 | default()) }}

# -- end network_boottime_2 --




